* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* nguyên tắc làm từ ngoài vào trong . từ trên xuống dưới
1. vị trí
2. kích thươc (width,height)
3. màu sắc
4. kiểu dáng

*/
html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100%;
  height: 1000px;
}

.text-white {
  color: #fff !important;
}

#header {
  width: 100%;
  height: 46px;
  background-color: #000;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}
/* menu cap 1*/
/* 
#nav li {
    display: inline-block;
     list-style-type: none; 
}
#nav li a {
    text-decoration: none;
    color:#fff;
    line-height: 46px;
    padding: 0px 24px;
    display: inline-block;
}
#nav li:hover a {
    background-color: #ccc;
    color:#000;
} */

/*end : menu cấp 1*/

/*menu câp 2*/
#nav {
  display: inline-block;
}
#nav > li {
  display: inline-block;
}
#nav li {
  list-style-type: none;
  position: relative;
}
#nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}
#nav li a {
  text-decoration: none;
  /* color:#fff; */
  line-height: 47px;
  padding: 0px 24px;
  display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a {
  background-color: #ccc;
  color: #000;
}

#nav .subnav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#nav .subnav li {
  min-width: 160px;
}
#nav .subnav a {
  color: #000;
  padding: 0 16px;
  line-height: 40px;
}

#nav li:hover .subnav {
  display: block;
}

/*search button*/
.search-btn {
  float: right;
  line-height: 47px;
  padding: 0 24px;
  display: block;
  cursor: pointer;
}

.search-icon {
  color: #fff;
  font-size: 18px;
}
.search-btn:hover {
  background-color: #f44336;
}

/* /////////////////////////////////// */
#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  /* cho bức ảnh crong luôn bằng 1 nửa chiều dài  */
  background: url("./img/chicago.jpg") top center / cover no-repeat;
}

#slider .text-content {
  position: absolute;
  bottom: 47px;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  /* cách 2 căn giữa lef : 0 ;right:0* hoặc width=100%*/
}

#slider .text-heading {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 500;
}

#slider .text-dicreation {
  font-size: 15px;
}

#content {
}
#content .content-section {
  width: 800px;
  padding: 64px 0;
  margin-right: auto;
  margin-left: auto;
}

#content .section-heading {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

#content .section-sub-heading {
  font-size: 15px;
  text-align: center;
  margin-bottom: 25px;
  font-style: italic;
  opacity: 0.7;
}
#content .about {
  text-align: justify;
  font-size: 15px;
  line-height: 1.5;
}
#content .member-list {
  margin-top: 48px;
  /* overflow: hidden; */
}
#content .member-item {
  width: 33.33%;
  float: left;
  text-align: center;
}
#content .menber-name {
  margin-bottom: 15px;
  font-size: 15px;
}
#content .member-img {
  margin-top: 15px;
  border-radius: 5px;
  width: 160px;
}
.clear {
  clear: both;
}

/**tour section*/
.tour-section {
  background-color: #000;
  color: #fff;
}
.tour-section .ticket-list {
  background-color: #fff;
  margin-top: 46px;
  color: #000;
}
.ticket-list li {
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ccc;
  color: #757575;
  list-style-type: none;
}
.tour-section .sold-out {
  margin-left: 16px;
  color: #fff;
  background-color: #f44336;
  padding: 3px 5px;
}

.tour-section .soluong {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color:#fff;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    margin-top: -3px;
    /* margin: - 3px chỉ áp dụng khi có float */
}
.place-list {
    margin: 32px -8px 0;
    padding-bottom: 48px;
}
.place-item {
    float:left;
    width:33.33%;
}

.place-img {
    width: 100%;
    padding:0 8px;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body {
    background-color: #fff;
    color:#000;
    margin-left:8px;
    padding: 16px;
    font-size: 15px;
    margin-right: 8px;
    
}

.place-heading {
    font-size: 15px;
    font-weight: 700;

}

.place-time {
    margin-top:15px;
    opacity: 0.7;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.6;
    text-align: justify;

}
.place-buy-btn {
    text-decoration: none;
    background-color: #000;
    color:#fff;
    padding: 11px 16px;
    display: inline-block;
    margin-top:16px;
}
.place-buy-btn:hover{
    background-color: #ccc;
    color:#000;
}


/* #footer {

}  */
.modal {
    position: fixed;
    top:0;
    right: 0;
    left:0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none;
   
}
.js-modal-container {
    background-color: #fff;
    max-width:calc(100%-32px);
    width:900px;
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.8s;
}
.js-modal-close {
    position: absolute;
    right:0;
    top:0;
    color:#fff;
    padding:8px 10px;
}
.js-modal-close:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color: #f44336;
}
.modal-header {
    background-color: #009688;
    height:130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color:#fff;
}
.icon-bag {
    margin-right:16px;
}
.modal-body {
    padding:16px;
}
.modal-label{
    font-size: 15px;
    display: block;
    margin-bottom: 12px;
}
.modal-input {
    width:100%;
    font-size: 15px;
    padding:10px;
    border: 1px solid #ccc;
    margin-bottom: 24px;
}
.modal.open {
    display: flex;
}
#js-buy-tickets {
    width:100%;
    background-color: #009688;
    border:none;
    font-size: 15px;
    text-transform: uppercase;
    padding:18px;
    color:#fff;
    cursor: pointer;
}
#js-buy-tickets:hover{
    opacity: 0.9;
    /* background-color: #ddd; */
}
.modal-footer{
    padding: 16px;
    text-align: left;
}

@keyframes modalFadeIn{
    from {
        opacity: 0.8;
        transform: translateY((-140px));
    }
     to {
        transform: translateY((0));
     }
}



