
#toast {
    margin-top: 50px;
}
.toast {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  border-left: 5px solid;
  padding: 20px 0;
  min-width: 400px;
  max-width: 500px;
  animation: slideLeft ease 0.3s, fadeOut linear 1.5s 3s forwards;
  /* transform: translateX(calc(100% + 32px)); */
  transition: all linear 0.3s;
}

@keyframes slideLeft {
  from {
      opacity: 0;
      transform: translateX(calc(100% + 32px));
  }
  to {
      opacity: 1;
      transform: translateX(0);
}
}

@keyframes fadeOut {
  to {
      opacity: 0;
}
}

.toast__icon {
  font-size: 24px;
  padding: 0 16px;
}
.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.toast__body {
  flex-grow:1;
}
.toast__msg {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}
.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  padding: 0 16px;
}

.toast--success {
 border-color: #47d864; 
}
.toast--success .toast__icon {
  color:#47d864;
}
.toast--info {
  border-color: #2f86eb;
}
.toast--info .toast__icon{
  color:#2f86eb;
}
.toast--warning {
  border-color: #ffc021;
}

.toast--warning .toast__icon{
  color:#ffc021;
}

.btn {
  display: inline-block;
  background-color: transparent;
  border:none;
  outline: none;
  color:#fff;
  padding:12px 48px;
  border-radius: 50px;
  min-width: 150px;
  cursor: pointer;
  transition:  opacity 0.2s ease-in;
}
.btn:hover {
  opacity: 0.7;
}
.btn + .btn {
  margin-left: 48px;
}
.btn--success{
  background-color: #71be34;
  cursor: pointer;
}
.btn--danger{
  background-color: #ff623d;
}


/* @import url('../BEM/css/toast.css'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* nguyên tắc làm từ ngoài vào trong . từ trên xuống dưới
1. vị trí
2. kích thươc (width,height)
3. màu sắc
4. kiểu dáng

*/
html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100vh;
}
/* thuộc tính dùng chung*/
.text-white {
  color: #fff !important;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}
.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
.col-full {
  width: 100%;
}
.col-half {
  width: 50%;
}

.col-third {
  width: 33.333%;
}

.mt-8 {
  margin-top: 8px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
:root {
  --height-nav:46px;
}
.f-15 {
  font-size: 15px;
}
#header {
  width: 100%;
  /* height: 46px; */
  height:var(--height-nav) ;
  background-color: #000;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  /* overflow: hidden; */
}
/* menu cap 1*/
/* 
#nav li {
    display: inline-block;
     list-style-type: none; 
}
#nav li a {
    text-decoration: none;
    color:#fff;
    line-height: 46px;
    padding: 0px 24px;
    display: inline-block;
}
#nav li:hover a {
    background-color: #ccc;
    color:#000;
} */

/*end : menu cấp 1*/

/*menu câp 2*/
#nav {
  display: inline-block;
}
#nav > li {
  display: inline-block;
}
#nav li {
  list-style-type: none;
  position: relative;
}
#nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}
#nav li a {
  text-decoration: none;
  /* color:#fff; */
  line-height: 47px;
  padding: 0px 24px;
  display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a {
  background-color: #ccc;
  color: #000;
}

#nav .subnav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#nav .subnav li {
  min-width: 160px;
}
#nav .subnav a {
  color: #000;
  padding: 0 16px;
  line-height: 40px;
}

#nav li:hover .subnav {
  display: block;
}




/*search button*/
.search-btn {
  float: right;
  line-height: 47px;
  padding: 0 24px;
  display: block;
  cursor: pointer;

}
#header .mobile-menu-btn {
  position: absolute;
  top:0;
  right:0;
  display: none;
}
/* .mobile-menu-btn{
  float: right;
  padding: 0 21px;
  color:#fff;
  line-height: 47px;
  font-size: 25px;
} */
.search-icon {
  color: #fff;
  font-size: 18px;
}
.mobile-menu-btn:hover{
 background-color: #ccc;
}
.search-btn:hover {
  background-color: #f44336;
}

/* /////////////////////////////////// */
#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  /* cho bức ảnh crong luôn bằng 1 nửa chiều dài  */
  background: url("./img/chicago.jpg") top center / cover no-repeat;
}

#slider .text-content {
  position: absolute;
  bottom: 47px;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  /* cách 2 căn giữa lef : 0 ;right:0* hoặc width=100%*/
}

#slider .text-heading {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 500;
}

#slider .text-dicreation {
  font-size: 15px;
}

#content .content-section {
  width: 800px;
  max-width: 100%;
  padding: 64px 0;
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
}

#content .section-heading {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#content .section-sub-heading {
  font-size: 15px;
  text-align: center;
  margin-bottom: 25px;
  font-style: italic;
  opacity: 0.7;
}
#content .about {
  text-align: justify;
  font-size: 15px;
  line-height: 1.5;
}
#content .member-list {
  margin-top: 48px;
  /* overflow: hidden; */
}
#content .member-item {
  width: 33.33%;
  float: left;
  text-align: center;
}
#content .menber-name {
  margin-bottom: 15px;
  font-size: 15px;
}
#content .member-img {
  margin-top: 15px;
  border-radius: 5px;
  width: 180px;
}
.clear {
  clear: both;
}

/**tour section*/
.tour-section {
  background-color: #000;
  color: #fff;
}
.tour-section .ticket-list {
  background-color: #fff;
  margin-top: 46px;
  color: #000;
}
.ticket-list li {
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ccc;
  color: #757575;
  list-style-type: none;
}
.tour-section .sold-out {
  margin-left: 16px;
  color: #fff;
  background-color: #f44336;
  padding: 3px 5px;
}

.tour-section .soluong {
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  margin-top: -3px;
  /* margin: - 3px chỉ áp dụng khi có float */
}
.place-list {
  margin-top: 32px;
  margin-bottom: 48px;
  /* padding-bottom: 48px; */
}
.place-item {
  float: left;
  width: 33.33%;
}

.place-img {
  width: 100%;
  padding: 0 8px;
  display: block;
}
.place-img:hover {
  opacity: 0.6;
}
.place-body {
  background-color: #fff;
  color: #000;
  margin-left: 8px;
  padding: 16px;
  font-size: 15px;
  margin-right: 8px;
}

.place-heading {
  font-size: 15px;
  font-weight: 700;
}

.place-time {
  margin-top: 15px;
  opacity: 0.7;
}

.place-desc {
  margin-top: 15px;
  line-height: 1.6;
  text-align: justify;
}
.place-buy-btn {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 16px;
}
.place-buy-btn:hover {
  background-color: #ccc;
  color: #000;
}

/* #footer {

}  */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* display: flex; */
  align-items: center;
  justify-content: center;
  display: none;
}
.js-modal-container {
  background-color: #fff;
  max-width: calc(100%-32px);
  width: 900px;
  min-height: 200px;
  position: relative;
  animation: modalFadeIn ease 0.8s;
}
.js-modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 8px 10px;
}
.js-modal-close:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: #f44336;
}
.modal-header {
  background-color: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}
.icon-bag {
  margin-right: 16px;
}
.modal-body {
  padding: 16px;
}
.modal-label {
  font-size: 15px;
  display: block;
  margin-bottom: 12px;
}
.modal-input {
  width: 100%;
  font-size: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 24px;
}
.modal.open {
  display: flex;
}
#js-buy-tickets {
  width: 100%;
  background-color: #009688;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  padding: 18px;
  color: #fff;
  cursor: pointer;
}
#js-buy-tickets:hover {
  opacity: 0.9;
  /* background-color: #ddd; */
}
.modal-footer {
  padding: 16px;
  text-align: left;
}

@keyframes modalFadeIn {
  from {
    opacity: 0.8;
    transform: translateY((-140px));
  }
  to {
    transform: translateY((0));
  }
}

/*contact*/
.contact-content {
  margin-top: 48px;
}

.contact-info {
  font-size: 18px;
  line-height: 1.5;
}

.contact-info i {
  width: 30px;
  display: inline-block;
}
.contact-form {
  font-size: 15px;
}
.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  outline: none;
}

.form-submit-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 11px 26px;
  float: right;
  margin-bottom: 48px;
}
.form-submit-btn:hover{
  background-color: #757575;
  cursor: pointer;
}
.map-section img {
  width: 100%;
}

#footer {
  width: 100%;
  height: 216px;
  padding:64px 16px;
  text-align: center;
}
#footer .socials-list {
  font-size: 24px;

}
#footer .socials-list a {
  text-decoration: none;
  color: #f44336;
  /* color:rgba(0, 0, 0, 0.5); */
}

.socials-list a:hover {
  opacity: 0.5;
}
.copyright {
  margin-top: 15px;
}
.copyright a {
  color: rgba(0, 0, 0, 0.8);
}



.icon-heart {
  color:red;
  font-size: 24px;
}


